@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('../fonts/OpenSans-Regular');
}
body {
	font-family: 'Open Sans', sans-serif;
	background-image: url('../img/background.jpg');
	background-position: center center;
	background-repeat: no-repeat;
}
.orangeBox {
	border: 1px orange solid;
	height: 200px;
	width: 200px;
	background-color: orange;
}
.orangeredBox {
	border: 1px orangered solid;
	height: 200px;
	width: 200px;
	background-color: orangered;
	z-index: -1;
}
.greenBox {
	border: 1px green solid;
	height: 200px;
	width: 200px;
	background-color: green;
}
.blueBox {
	border: 1px blue solid;
	height: 200px;
	width: 200px;
	background-color: blue;
}
.redBox {
	border: 1px red solid;
	height: 200px;
	width: 200px;
	background-color: red;
}
.cyanBox {
	border: 1px cyan solid;
	height: 200px;
	width: 200px;
	background-color: cyan;
}
.magentaBox {
	border: 1px magenta solid;
	height: 200px;
	width: 200px;
	background-color: magenta;
}
.limeBox {
	border: 1px lime solid;
	height: 200px;
	width: 200px;
	background-color: lime;
}
.blackBox {
	border: 1px black solid;
	height: 200px;
	width: 200px;
	background-color: black;
}
.yellowBox {
	border: 1px yellow solid;
	height: 200px;
	width: 200px;
	background-color: yellow;
}
.logo {
	background-color: rgba(255,255,255,0.9);
	padding: 30px;
	border-radius: 15px;
}
.napkin {
	padding: 15px;
	border-radius: 15px;
	background-color: rgba(255,255,255,0.7);
	margin-left: 40%;
	margin-right: 40%;
}